/*------------------------------
        Start Shared CSS 
------------------------------*/

body {
        margin: 0;
        font-family: "Work Sans", sans-serif;
}
.btn {
        color: #FFFFFF;
        background-color: #FF900E;
        border-radius: 5px;
        border: 0;
        font-size: 12px;
        font-weight: 500;
        padding: 10px 20px;
        margin-bottom: 35px;
}
.section-title {
        color: #131313;
        font-weight: 700;
        font-size: 35px;
        margin-bottom: 20px;
}
.section-description {
        color: #727272;
        margin-bottom: 16px;
        text-align: center;
}
.dark-color {
        font-size: 20px;
        font-weight: 500;
        color: #131313;
}
.gray-color {
        color: #727272;
}

/*------------------------------
        End Shared CSS 
------------------------------*/








/*-------------------------------------
        Start Header Section CSS 
-------------------------------------*/
header {
    padding: 10px 150px;
    background-color: #ff8f0e10;
}
/*----- nav-bar ------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    padding: 0 20px;
}
nav ul a {
    text-decoration: none;
}
nav ul a:hover {
    text-decoration: underline;
}
/* banner CSS */
#banner section {
    max-width: 860px;
    margin: 0 auto;
}
#banner-title {
    font-size: 45px;
    text-align: center;
}
#banner-btn {
    display: flex;
    justify-content: center;
}
#banner-image {
    width: 100%;
    margin-bottom: 25px;
}

/*------------------------------------
        End Header Section CSS 
------------------------------------*/








/*-------------------------------------
        Start Main Section CSS 
-------------------------------------*/

/*------ article-1  -------*/
#article-1 {
    max-width: 940px;
    margin: 70px auto;
    display: flex;
    gap: 40px;
}
/* aside-1 */
#article-1 #aside-1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.quick-list-images {
    width: 250px;
}
/* aside-2 */
#article-1 #aside-2 {
    margin: auto 0;
}
#article-1 #aside-2 h1 #quick-list-dark-title {
    color: #727272;
}
#article-1 #aside-2 h1 #quick-list-yellow-title {
    color: #FF900E;
}
#article-1 #aside-2 p {
    text-align: start;
    font-size: 11px;
}
/*------ article-2  -------*/
#article-2 {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    gap: 80px;
}
/* aside-1 */
#article-2 #aside-1 div:first-child {
    border-left: 3px solid #FF900E;
}
#article-2 #feature-section-title {
    margin-left: 15px;
    font-size: 30px;
}
#article-2 #aside-1 > p {
    text-align: start;
    font-size: 14px;
    margin-bottom: 30px;
}
.feature-sub-section {
    padding: 20px;
    box-shadow: 0.1px 0.1px 20px 0px #eeecec;
    border-radius: 5px;
    margin-bottom: 20px;
}
.section-sub-title {
    margin: 0 0 0 0;
    font-size: 16px;
}
.section-sub-description {
    margin-bottom: 0;
    font-size: 13px;
    color: #727272;
}
/* aside-2 */
#article-2 #aside-2 img {
    width: 510px;
}
#large-btn {
    width: 150px;
    height: 115px;
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 5px 25px;
    border: 0;
    border-radius: 5px;
    position: relative;
    bottom: 85px;
    right: 45px;
}
#large-btn h2 {
    margin: 23px 0 3px 0;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
#large-btn p {
    margin: 0 0 0 0;
    text-align: center;
    font-size: 13px;
}
/*------ article-3  -------*/
#article-3 {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    flex-direction: column;
    margin-bottom: 40px;
}
#secion-3-description {
    text-align: start;
}
#article-3 section:first-child {
    width: 550px;
}
#article-3 section:last-child {
    display: flex;
    justify-content: space-around;
}
#article-3 h2 {
    margin-top: 0;
}
.fact-small-container {
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF900E;
    border-radius: 5px;
    padding: 20px;
}
.fact-small-container-title {
    color: #424242;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 38px;
}
.fact-small-container-description {
    color: #727272;
    margin-top: 10px;
}
/* article-4 */
#article-4 {
    max-width: 1060px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin: 100px auto;
}
#article-4 section:first-child {
    width: 550px;
    margin: 0 auto;
    text-align: center;
}
#article-4 section:last-child {
    display: flex;
    justify-content: space-between;
}

/*------------------------------------
        End Main Section CSS 
------------------------------------*/








/*-------------------------------------
        Start Footer Section CSS 
-------------------------------------*/

footer {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    flex-direction: column;
    margin-bottom: 40px;
    background-color: #FFF4E7;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
#footer-description {
    color: #424242;
}

/*------------------------------------
        End Footer Section CSS 
------------------------------------*/








/*-------------------------------------------
        Start  Media-QUERY Mobile CSS 
-------------------------------------------*/

@media only screen and (max-width: 720px) {
    /*---- header section ----*/
    header {
        padding: 10px 10px;
    }
    nav {
        flex-direction: column;
    }
    nav ul {
        padding: 0;
        margin: 0;
        gap: 35px;
    }
    nav ul li {
        padding: 0;
    }
    /*----- article-1 ----- */
    #article-1 {
        padding: 10px;
        flex-direction: column;
    }
    #article-1 #aside-1 {
        gap: 4px;
        row-gap: 10px;
    }
    .quick-list-images {
        width: 170px;
        margin: 0 auto;
    }
    #article-1 #quick-list-image-2 {
        margin-left: 5px;
    }
    #quick-list-title, #feature-section-title {
        margin-top: 0;
    }
    #article-1 #aside-2 {
        margin-bottom: -240px;
    }
    /*----- article-2 ----- */
    #article-2 {
        flex-direction: column-reverse;
        padding: 10px;
        align-items: center;
        margin-bottom: 40px;
    }
    #aside-2 {
        height: 450px;
    }
    #article-2 #aside-2 img {
        width: 300px;
        padding-left: 50px;
    }
    #large-btn {
        width: 100px;
        height: 75px;
        position: relative;
        bottom: 55px;
        right: 4px;
    }
    #large-btn h2 {
        margin: 10px 0 3px 0;
        font-size: 27px;
    }
    #large-btn p {
        font-size: 11px;
    }
    /*----- article-3 ----- */
    #article-3 {
        padding: 10px;
        gap: 30px;
    }
    #article-3 section:first-child {
        width: 350px;
    }
    #article-3 #secion-3-description {
        font-size: 18px;
    }
    #article-3 section:last-child {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
    }
    .fact-small-container {
        width: 125px;
        height: 125px;
    }
    .fact-small-container-title {
        font-size: 30px;
    }
    .fact-small-container-description {
        font-size: 15px;
        margin-bottom: 5px;
    }
    /*---- section-4  ----*/
    #article-4 {
        padding: 10px;
    }
    #article-4 section:first-child {
        width: 350px;
    }
    #article-4 section:last-child {
        display: grid;
        grid-template-columns: auto auto;
        .item {
            grid-column: 1 / span 2;
        }
        text-align: center;
        justify-content: center;
        column-gap: 20px;
        row-gap: 30px;
    }
}

/*----------------------------------------
        End  Media-QUERY Mobile CSS 
----------------------------------------*/











/*-------------------------------------------
        Start  Media-QUERY Tablet CSS 
-------------------------------------------*/

@media screen and (min-width: 721px) and (max-width: 1080px) {
        /*---  header css  */
        nav {
            margin: 0 -120px;
        }
        nav h1 {
            margin-top: 20px;
        }
}

/*-------------------------------------------
         End Media-QUERY Tablet CSS 
-------------------------------------------*/
